<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>

    <div>
      Compose your message<br>
      To: <%=@sender%><br>
      From: <%=@receiver%><br>
      Content: <%=@content%><br>

    </div>
    <a href="/reset"><b>DELETE ALL MESSAGES</b></a>
  </body>
</html>
